

.formulario-crear{

    input:not([type="submit"]), textarea, select{
        display: block;
        padding: 1.5rem;
        width: 100%;
        background-color: #f7f9fd;
        border: 1px solid #d6dce7;
        border-radius: 1;
        margin-bottom: 2rem;
        font-size: 1.8rem;
    }

    label{
        display: block;
        text-transform: uppercase;
        font-weight: 500;
    }

    textarea{
        height: 15rem;
    }

    .btnenviar{
        border: none;
        background-color: black;
        color: whitesmoke;
        padding: .8rem 2rem 1rem 2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.5rem;
        border-radius: 2;
        margin-top: 1rem;
        &:hover{
            cursor: pointer;
            background-color: darken(#8d99ae, 20%);
            color: black;
            font-weight: 500;
        }
    }
 



}
.btnvolver{
    background-color: black;
    color: whitesmoke;
    padding: .7rem 2rem .7rem 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    border-radius: 2;
    &:hover{
        cursor: pointer;
        background-color: darken(#8d99ae, 20%);
        color: black;
        font-weight: 500;
    }
}




